<ul class="flex gap-x-5 text-white p-5 font-segoe">
    <li><a href="#" [ngClass]="{'active': menuStates['home']}" class="cursor-pointer p-2" (click)="setActiveMenuItem('home')">HOME</a></li>
    <li><a href="#" [ngClass]="{'active': menuStates['about']}" class="cursor-pointer p-2" (click)="setActiveMenuItem('about')">ABOUT</a></li>
    <li><a href="#" [ngClass]="{'active': menuStates['services']}" class="cursor-pointer p-2" (click)="setActiveMenuItem('services')">SERVICES</a></li>
    <li><a href="#" [ngClass]="{'active': menuStates['gallery']}" class="cursor-pointer p-2" (click)="setActiveMenuItem('gallery')">GALLERY</a></li>
    <li><a href="#" [ngClass]="{'active': menuStates['contact']}" class="cursor-pointer p-2" (click)="setActiveMenuItem('contact')">CONTACT</a></li>
</ul>