<div id="home" class="fullscreen-background h-screen bg-[url('/images/model.jpeg')] bg-cover bg-[50%_10%] bg-no-repeat bg-fixed" data-aos="fade-up">
   <div class="navbar flex place-content-end">
        <app-menu class="mt-2.5 mr-5"></app-menu>
   </div>
   <div class="home-heading-container flex h-full">
      <div class="logo-heading-col flex flex-col ml-16 mt-16">
         <div class="logo"><img src="/images/PG-logo-white.png"/></div>
         <div class="lets ml-4 mt-10">
            <h1 class="text-white font-baskerville text-6xl">
               Let's
            </h1>
         </div>
         <div class="create-row ml-4 flex items-end space-x-2 mt-2">
            <div class="create-text">
               <h1 class="text-white font-baskerville text-6xl">
                  Create
               </h1>
            </div>
            <div class="square h-4 w-4 bg-white relative -translate-y-3"></div>
         </div>
      </div>
   </div>
</div>
