<div class="heading flex justify-center mt-10">
    <h1 class="text-6xl font-baskerville text-primary_gray-0">about</h1>
</div>
<div class="image-text-grid grid grid-cols-4 gap-10 mt-10 mx-10">
    <div class="founder-image col-span-1">
        <img src="/images/Nyasha.jpeg" class="rounded-[49px]" loading="lazy"/>
    </div>
    <div class="about-text col-span-3">
        <p class="text-3xl font-baskerville text-primary_gray-0 text-justify">
            I am a multitalented creative professional with a passion for visual storytelling with 6 years experience.
            As a photographer,  I capture stunning images that evoke emotion and bring ideas to life. My graphic design 
            skills allow me to craft compelling visuals for a wide range of projects, from branding to marketing materials.
            Our team combines artistic vision with technical expertise to bring your ideas to life. Whether you're looking to 
            enhance your brand identity, create engaging content, or develop cutting-edge digital platforms, we provide customized 
            solutions to meet your unique needs. At Possible Graphiks, we believe in the power of creativity and innovation to elevate 
            your brand and make a lasting impact.
        </p>
    </div>
</div>
<div class="flex justify-end mt-10 mr-10 gap-20">
    <div class="est-text flex flex-wrap content-center border-r border-primary_gray-0 pr-12">
        <p class="text-lg font-baskerville text-primary_gray-0">Est. 2019</p>
    </div>
    <div class="client-text">
        <p class="text-2xl font-baskerville text-primary_gray-0">100+ clients</p>
        <p class="text-lg font-baskerville text-primary_gray-0">Hundreds trust us <br> for a reason  </p>
    </div>
</div>