<div class="heading flex justify-center mt-20">
    <h1 class="text-6xl font-baskerville text-primary_gray-0">about</h1>
</div>
<div class="image-text-grid text-primary_gray-0 md:grid md:grid-cols-4 md:gap-10 md:m-10 flex flex-col gap-4 items-center">
    <div class="founder-image max-md:hidden col-span-1">
        <img src="images/Nyasha.jpeg" class="rounded-[49px] w-1/2 h-auto" loading="lazy"/>
    </div>
    <div class="about-text md:col-span-3">
        <p class="md:text-3xl font-baskerville  text-justify mt-10 mx-10">
            I am a multitalented creative professional with a passion for visual storytelling with 6 years experience.
            As a photographer,  I capture stunning images that evoke emotion and bring ideas to life. My graphic design 
            skills allow me to craft compelling visuals for a wide range of projects, from branding to marketing materials.
            Our team combines artistic vision with technical expertise to bring your ideas to life. Whether you're looking to 
            enhance your brand identity, create engaging content, or develop cutting-edge digital platforms, we provide customized 
            solutions to meet your unique needs. At Possible Graphiks, we believe in the power of creativity and innovation to elevate 
            your brand and make a lasting impact.
        </p>
    </div>
    <div class="md:hidden grid grid-cols-4 gap-2 mx-10 mt-10">
        <img src="images/Nyasha.jpeg" class="col-span-2 rounded-[20px]"/>
        <div class="flex col-span-2 justify-center items-center">
            <p>Nyasha Tinhidzai,<br>Founder</p>
        </div>
    </div>
</div>
<div class="flex justify-center md:justify-end mt-20 md:mr-20 gap-5 md:gap-20 text-primary_gray-0">
    <div class="est-text flex flex-wrap content-center border-r border-primary_gray-0 md:pr-12 pr-8">
        <p class="text-lg font-baskerville ">Est. 2019</p>
    </div>
    <div class="client-text">
        <p class="md:text-2xl font-baskerville text-xl">100+ clients</p>
        <p class="md:text-lg font-baskerville ">Hundreds trust us <br> for a reason  </p>
    </div>
</div>