<div class="page-container bg-site_brown-0 mt-10 h-screen">
    <div class="heading flex justify-center">
        <h1 class="text-6xl font-baskerville text-white opacity-70 mt-20">
            services
        </h1>
    </div>
    <div class="page-content grid grid-cols-3 mx-10 gap-10 mt-14">
        <div class="question col-span-1 border-y-4 border-white border-opacity-70 py-20">
            <p class="text-7xl font-baskerville text-white opacity-70">
                what do <br> you need?
            </p>
        </div>
        <div class="services-col-1 grid grid-rows-3 gap-10 justify-center text-white opacity-70">
            <div class="flex gap-4 items-center">
                <mat-icon fontSet="material-icons-outlined">photo_camera</mat-icon>
                <p class="font-baskerville ">Photography & <br>videography</p>
            </div>
            <div class="flex gap-4 items-center">
                <mat-icon>draw</mat-icon>
                <p class="font-baskerville">Graphic design</p>
            </div>
            <div class="flex gap-4 items-center">
                <mat-icon>devices</mat-icon>
                <p class="font-baskerville">Web & mobile <br> app design and <br> development</p>
            </div>
        </div>
        <div class="services-col-2 grid grid-rows-3 gap-10 justify-center">
            <div class="flex gap-4 items-center text-white opacity-70">
                <mat-icon fontSet="material-icons-outlined">handshake</mat-icon>
                <p class="font-baskerville text-white opacity-70">Communications</p>
            </div>
            <div class="flex gap-4 items-center text-white opacity-70">
                <mat-icon fontSet="material-icons-outlined">group</mat-icon>
                <p class="font-baskerville text-white opacity-70">Social media <br> management</p>
            </div>
            <div class="flex gap-4 items-center text-white opacity-70">
                <mat-icon fontSet="material-icons-outlined">checkroom</mat-icon>
                <p class="font-baskerville text-white opacity-70">Styling</p>
            </div>
        </div>
    </div>
</div>
