<div class="page-container bg-site_brown-0 mt-10 h-screen">
    <div class="heading flex justify-center">
        <h1 class="text-6xl font-baskerville text-white opacity-70 mt-20">
            services
        </h1>
    </div>
    <div class="page-content md:grid md:grid-cols-3 md:gap-10 md:m-20 mt-10 mx-5">
        <div class="flex items-center justify-center question col-span-1 border-y-4 border-white border-opacity-70 md:py-20 py-5">
            <p class="text-[40px] md:text-7xl font-segoe text-white opacity-70">
                what do <br> you need?
            </p>
        </div>
        <div class="services-col-1 flex flex-col gap-2 items-center mt-10 md:grid md:grid-rows-3 md:gap-10 justify-center text-white opacity-70">
            <div class="flex gap-4 items-center">
                <mat-icon fontSet="material-icons-outlined">photo_camera</mat-icon>
                <p class="font-baskerville ">Photography & <br>videography</p>
            </div>
            <div class="flex gap-4 items-center">
                <mat-icon>draw</mat-icon>
                <p class="font-baskerville">Graphic design</p>
            </div>
            <div class="flex gap-4 items-center">
                <mat-icon>devices</mat-icon>
                <p class="font-baskerville">Web & mobile <br> app design and <br> development</p>
            </div>
        </div>
        <div class="services-col-2 flex flex-col gap-2 items-center md:grid md:grid-rows-3 md:gap-10 justify-center text-white opacity-70 mb-10">
            <div class="flex gap-4 items-center ">
                <mat-icon fontSet="material-icons-outlined">handshake</mat-icon>
                <p class="font-baskerville ">Communications</p>
            </div>
            <div class="flex gap-4 items-center ">
                <mat-icon fontSet="material-icons-outlined">group</mat-icon>
                <p class="font-baskerville ">Social media <br> management</p>
            </div>
            <div class="flex gap-4 items-center ">
                <mat-icon fontSet="material-icons-outlined">checkroom</mat-icon>
                <p class="font-baskerville ">Styling</p>
            </div>
        </div>
    </div>
</div>