<div class="page-container bg-site_brown-0 mt-10 h-screen">
    <div class="heading flex justify-center">
        <h1 class="text-6xl font-baskerville text-white opacity-70 mt-20">
            services
        </h1>
    </div>
    <div class="page-content grid grid-cols-3 mx-10 gap-10 mt-14">
        <div class="question col-span-1 border-y-4 border-white border-opacity-70 py-20">
            <p class="text-7xl font-baskerville text-white opacity-70">
                what do <br> you need?
            </p>
        </div>
        <div class="services-col-1 grid grid-rows-3 gap-10 justify-center">
            <div class="">
                <p class="font-baskerville text-white opacity-70">Photography & <br>videography</p>
            </div>
            <div class="">
                <p class="font-baskerville text-white opacity-70">Graphic design</p>
            </div>
            <div class="">
                <p class="font-baskerville text-white opacity-70">Web & mobile <br> app design and <br> development</p>
            </div>
        </div>
        <div class="services-col-2 grid grid-rows-3 gap-10 justify-center">
            <div class="">
                <p class="font-baskerville text-white opacity-70">Communications</p>
            </div>
            <div class="">
                <p class="font-baskerville text-white opacity-70">Social media <br> management</p>
            </div>
            <div class="">
                <p class="font-baskerville text-white opacity-70">Styling</p>
            </div>
        </div>
    </div>
</div>
