<div class="page-container mt-20 text-primary_gray-0">
    <div class="heading">
        <h1 class="text-6xl flex justify-center">
            gallery
        </h1>
        <div class="mt-20 image-section relative overflow-x-auto flex justify-center px-8 snap-x snap-mandatory scroll-smooth md:grid md:grid-cols-3 md:gap-4 md:my-20 md:place-items-center"
            style="-ms-overflow-style: none; scrollbar-width: none;">
            <div class="first-image flex-shrink-0 snap-center w-3/4 transform scale-90 transition-transform duration-300"><img src="images/side-look.jpeg" class="rounded-xl"/></div>
            <div class="second-image flex-shrink-0 snap-center w-3/4 transform scale-90 transition-transform duration-300"><img src="images/silhouette-red.jpeg" class="rounded-xl"/></div>
            <div class="third-image flex-shrink-0 snap-center w-3/4 transform scale-90 transition-transform duration-300"><img src="images/model-side.jpeg" class="rounded-xl"/></div>
        </div>
        <div class="flex justify-center mt-10">
            <p class="hover:text-black text-2xl">View more ></p>
        </div>
    </div>
</div>